@font-face {
  font-family: 'IBMP Plex Sans';
  font-weight: 400;
  src: url('../font/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBMP Plex Sans';
  font-weight: 500;
  src: url('../font/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBMP Plex Sans';
  font-weight: 700;
  src: url('../font/IBMPlexSans-Bold.ttf');
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  color: #141414;
  font-family: 'IBMP Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}

.l-container {
  width: 98%;
  margin: 0 auto;
  max-width: 1360px;
}

.l-inner {
  width: 98%;
  margin: 0 auto;
  max-width: 1110px;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.cmn-btn {
  width: 140px;
  padding: 8px 5px;
  border: 1px solid transparent;
  background-color: #FF8364;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}

.cmn-txt {
  font-size: 40px;
  font-weight: 700;
}

.cmn-btn:hover {
  background-color: #FFFFFF;
  color: #FF8364;
}

.clearFix::after {
  display: block;
  clear: both;
  content: "";
}

a {
  display: block;
  color: #141414;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  opacity: 0.8;
}

/*Start Main Visiual*/

.main-visiual {
  padding-top: 36px;
  padding-bottom: 164px;
  background: url('../img/main_bg.png') no-repeat center/cover;
}

.header {
  margin-bottom: 108px;
}

.header-logo {
  float: left;
}

.nav-item {
  float: left;
  margin-left: 30px;
}

.nav-item ul {
  padding-top: 20px;

}

.nav-item ul li {
  float: left;
  margin-right: 60px;
  font-weight: 700;
}

.nav-item ul li:hover {
  opacity: 0.5;
}

.nav-gp {
  float: right;
}

.main-visiual .header .cmn-btn {
  float: right;
  width: 120px;
  margin-top: 10px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;

}

/*Start Banner*/
.mv-block {
  text-align: center;
}

.mv-block h3 {
  line-height: 1.2;
  margin-top: 32px;
  font-size: 64px;
  font-weight: 500;
}

.mv-block .l-inner p {
  line-height: 1.5;
  margin-bottom: 27px;
  padding-top: 5px;
  padding-left: 5px;
  color: #EFEFEF;
  font-size: 20px;
}

.mv-block a.cmn-btn {
  margin: 0 auto;
  padding: 9px 0px;
}

/*End Banner*/

/*End Main Visiual*/

/*Start Second link*/
.sec-second {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: #F3F3F3;
}

.sec-second .text-block {
  float: left;
  width: 635px;
}

.sec-second .text-block .cmn-txt {
  padding-bottom: 38px;
}

.sec-second .text-block p {
  line-height: 1.4;
  margin-bottom: 28px;
  font-size: 36px;
}

.sec-second .text-block a {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  color: #FF8364;
  font-weight: 700;
}

.sec-second .text-block a::after {
  position: absolute;
  top: 50%;
  left: 99px;
  width: 14px;
  height: 14px;
  background: url('../img/arrow_icon.png') no-repeat center/contain;
  content: '';
  transform: translateY(-50%);
}

.sec-second .img-block {
  float: right;
  margin-top: 31px;
}

/*End Second link*/

/*Start Third Link*/
.sec-third {
  padding-top: 110px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #707070;
}

.sec-third .l-inner .cmn-txt {
  line-height: 0px;
  margin: 0px auto;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 1px;
}

.sec-third .inner .sub-title {
  line-height: 1.2;
  margin: 0 auto;
  color: #FF8364;
  font-family: 'IBMP Plex Sans';
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.inner {
  position: relative;
  width: 955px;
  margin-left: 85px;
}

.sec-third .sec-list {
  padding-top: 70px;
}

.sec-third .sec-list li {
  position: relative;
  float: left;
  width: 395px;
  line-height: 1.3;
  margin-right: 20px;
  margin-bottom: 46px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: 700;
}

.sec-third .sec-list li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url('../img/li_star.png') no-repeat center/contain;
  content: '';
}

.sec-third li:nth-child(2n) {
  margin-right: 0px;
  margin-left: 25px;
}

/*End Third Link*/


/*Start Fourth Link*/
.sec-fourth {
  padding-top: 40px;
  padding-bottom: 80px;
}

.sec-fourth .cmn-txt {
  margin-bottom: 50px;
  text-align: center;
}

.sec-fourth .text {
  padding-top: 33px;
  padding-bottom: 31px;
}

.sec-fourth ul li .text h3 {
  line-height: 1.3;
  font-weight: 700;
}

.sec-fourth ul li .text span {
  line-height: 1.1;
  font-size: 14px;
}

.sec-fourth ul li {
  float: left;
  width: 22.9%;
  margin-right: 30px;
  background-color: #F3F3F3;
  text-align: center;
  border-radius: 8px;
}

.sec-fourth ul li:nth-child(4n) {
  margin-right: 0px;
}

/*End Fourth Link*/

/*Start Fifth Link*/

.sec-fifth {
  padding-top: 86px;
  padding-bottom: 80px;
  background-color: #FCFCFC;
}

.sec-fifth ul li {
  float: left;
  width: 31.4%;
  margin-right: 30px;
  text-align: center;
}

.sec-fifth ul li p {
  line-height: 1.6;
  margin-top: 23px;
  margin-bottom: 65px;
  color: #616161;
  font-size: 18px;
}

.sec-fifth ul li:nth-child(3n) {
  margin-right: 0px;
}

.sec-fifth .cmn-txt {
  margin-bottom: 62px;
  text-align: center;
}

.sec-fifth ul li h3 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}

.sec-fifth ul li:nth-child(2n) h3::before {
  top: -115%;
}

.sec-fifth ul li h3::before {
  position: absolute;
  top: -100%;
  right: 0;
  left: 0;
  width: 65px;
  height: 4px;
  margin: 0 auto;
  content: '';
  border-bottom: 5px solid #FF8364;
}

.sec-fifth ul li h4 {
  line-height: 1.6;
  font-weight: 400;
}

/*End Fifth Link*/

/*Start Feedback*/

.sec-feedback {
  padding-top: 102px;
  padding-bottom: 30px;
}

.sec-feedback .google-map {
  position: relative;
  float: left;
  margin-right: 61px;

}

.google-map iframe {
  width: 605px;
  height: 490px;
  border-radius: 8px;
}

.sec-feedback .google-map .address-gp {
  position: absolute;
  right: 0;
  bottom: 34px;
  left: 0;
  width: 545px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.sec-feedback .add-block {
  float: left;
  width: 225px;
  line-height: 1.4;
  margin-left: 30px;
}

.add {
  margin-bottom: 0px;
}

.address {
  float: left;
  margin-right: 0px;
}

.address .cmn-txt {
  line-height: 1.7;
  margin-left: 0px;
  font-size: 36px;
  font-weight: 500;
}

.address p {
  line-height: 1.2;
  margin-bottom: 34px;

}

.sec-feedback input {
  width: 313px;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: #FFFFFF;
  background-color: #F3F3F3;
  font-family: 'IBMP Plex Sans';
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
}

.sec-feedback input:last-child {
  margin-bottom: 0px;
}

.sec-feedback .add-block2 {
  float: right;
  width: 225px;
  line-height: 1.3;
  margin-right: 30px;
}

.sec-feedback .add-block2 .info {
  margin-bottom: 26px;
  color: #FF8364;
}

.sec-feedback .add-block2 .phone {
  margin-bottom: 36px;
  font-size: 16px;
  font-weight: 400;
}

.sec-feedback .address .cmn-btn {
  width: 140px;
  margin-top: 17px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.feedback {
  padding-bottom: 105px;
}

/*End Feedback*/

/*Start Footer*/
footer {
  padding-bottom: 81px;
}

.footer-left {
  float: left;
  width: 244px;
}

.footer-left a {
  margin-bottom: 28px;
}

.footer p {
  line-height: 1.3;
  font-size: 12px;
  font-weight: 400;
}



.footer .footer-nav-blk {
  float: right;
  margin: 7px 0;
}

.footer .footer-nav {
  float: left;
  width: 160px;
  margin-right: 30px;
}

.footer .footer-nav:last-child {
  margin-right: 0;
}

.footer .footer-nav .footer-ttl {
  padding-bottom: 12px;
  font-size: 20px;
}

.footer .footer-nav li {
  margin-bottom: 18px;
  color: #616161;
}

/*End Footer*/


@media screen and (min-width: 768px) and (max-width: 1100px) {

  body {
    font-size: 2.083vw;
  }

  .l-container {
    padding: 0 5.208vw;
    max-width: 89.583vw;
  }

  .l-inner {
    margin: 0 auto;
    max-width: 89.583vw;
  }

  .cmn-btn {
    width: 18.229vw;
    padding-top: 0.781vw;
    padding-right: 5.859vw;
    padding-bottom: 1.302vw;
    padding-left: 3.516vw;
    border: 0.13vw solid transparent;
    font-size: 2.344vw;
    border-radius: 0.521vw;
  }

  .cmn-btn:hover {
    border: 0.13vw solid #FF8364;
  }

  /*Start Main Visiual*/

  .main-visiual {
    padding-top: 5.288vw;
    padding-bottom: 15.365vw;
  }

  .main-visiual header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .nav-item {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .nav-item ul li {
    float: none;
    width: 100%;
    line-height: 1.5;
    padding-top: 2.604vw;
    font-size: 2.083vw;
    font-weight: 700;
    letter-spacing: 0.117vw;
  }

  .nav-gp {
    float: none;
  }

  .main-visiual .header .cmn-btn {
    float: none;
    width: 120px;
    margin: 0 auto;
    margin-top: 13.002px;
    font-size: 14.001px;
    border-radius: 0.521vw;
  }

  .nav-gp {
    display: block;
  }

  header .nav-gp {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    padding-top: 10.417vw;
    padding-bottom: 4.818vw;
    background-color: #FFFFFF;
    font-weight: 700;
    text-align: center;
  }

  header nav ul li {
    width: 100%;
  }

  header nav ul li a {
    padding-left: 2.604vw;
  }

  header .btn-gnavi {
    position: absolute;
    top: 0vw;
    right: 5.5vw;
    z-index: 3;
    width: 5.208vw;
    height: 3.906vw;
    margin-right: 5.208vw;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    border-color: 0.391vw #141414;
  }

  header .btn-gnavi span {
    position: absolute;
    width: 5.208vw;
    height: 0.391vw;
    background: #666;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    border-radius: 0.391vw;

  }

  header .btn-gnavi span:nth-child(1) {
    top: 0.26vw;
  }

  header .btn-gnavi span:nth-child(2) {
    top: 2.083vw;
  }

  header .btn-gnavi span:nth-child(3) {
    top: 4.167vw;
  }

  .btn-gnavi.hb-open span:nth-of-type(1) {
    left: 0vw;
    transform: translateY(1.953vw) rotate(-45deg);
  }

  .btn-gnavi.hb-open span:nth-of-type(2) {
    opacity: 0;
  }

  .btn-gnavi.hb-open span:nth-of-type(3) {
    left: 0vw;
    transform: translateY(-1.953vw) rotate(45deg);
  }

  header .btn-gnavi.hb-open {
    top: 0vw;
    width: 3.906vw;
    height: 4.297vw;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }


  /*Start Banner*/
  .mv-block {
    width: 85.156vw;
    margin: 0 auto;
    padding-top: 21.563vw;
    text-align: center;
  }

  .mv-block .l-inner {
    padding-left: 0vw;
  }

  .mv-block h2 a {
    margin: 0 auto;
  }

  .mv-block h3 {
    margin: 0 auto;
    margin-top: 4.167vw;
    font-size: 8.333vw;
  }

  .mv-block p {
    font-size: 2.604vw;
  }

  .mv-block a.cmn-btn {
    padding: 1.302vw 0vw;
    font-size: 2.344vw;
    font-weight: 700;
    text-align: center;
  }

  /*End Banner*/

  /*End Main Visiual*/

  /*Start Second link*/
  .sec-second {
    padding-top: 10.458vw;
    padding-bottom: 1.2vw;
  }

  .sec-second .text-block {
    float: none;
    width: 82.682vw;
  }

  .sec-second .text-block p {
    line-height: 1.4;
    margin-bottom: 3.8vw;
    font-size: 4.688vw;
  }

  .sec-second .text-block a {
    position: relative;
    margin: 0 auto;
    font-weight: 700;
  }


  .sec-second .img-block {
    float: none;
    width: 72.4vw;
    margin: 9.316vw auto;

  }

  .sec-second .img-block img {
    width: 72.656vw;
    border-radius: 3.776vw 3.776vw 3.776vw 3.776vw;
  }

  /*End Second link*/

  /*Start Third Link*/

  .sec-third {
    padding-top: 11.068vw;
    padding-bottom: 4.4vw;
    background-color: #FFFFFF;
  }

  .sec-third .l-inner .cmn-txt {

    margin-top: 2.734vw;
    letter-spacing: 0vw;
  }

  .sec-third .inner .sub-title {
    margin-top: 1.042vw;
  }

  .inner {
    width: 89.453vw;
    margin: 0 auto;
  }

  .sec-third .sec-list {
    padding-top: 7.813vw;
  }

  .sec-third .sec-list li {
    float: none;
    width: 71.615vw;
    line-height: 1;
    margin-right: 0vw;
    margin-bottom: 5.99vw;
    padding-left: 8.333vw;
    font-size: 2.604vw;
    font-weight: 700;
  }

  .sec-third .sec-list li::before {
    top: -1.302vw;
  }

  .sec-third li:nth-child(2n) {
    margin-left: 0vw;
  }

  /*End Third Link*/

  /*Start Fourth Link*/

  .sec-fourth {
    padding-top: 11.719vw;
    padding-bottom: 10.417vw;
  }

  .sec-fourth .cmn-txt {
    margin-bottom: 4.557vw;
    text-align: center;
  }

  .sec-fourth ul {
    padding-left: 8.724vw;

  }

  .sec-fourth .text {
    padding-top: 4.5vw;
    padding-bottom: 4.036vw;
  }

  .sec-fourth ul li .text h3 {
    line-height: 1.1;
    font-weight: 700;
  }

  .sec-fourth ul li .text span {
    line-height: 1.1;
    font-size: 1.823vw;
  }

  .sec-fourth ul li {
    float: left;
    width: 33.203vw;
    margin-right: 5.469vw;
    margin-bottom: 5.7vw;
    background-color: #F3F3F3;
    text-align: center;
    border-radius: 1.042vw;
  }

  .sec-fourth ul li:nth-child(2n) {
    margin-right: 0vw;
  }

  /*End Fourth Link*/

  /*Start Fifth Link*/

  .sec-fifth {
    padding-top: 6vw;
    padding-bottom: 0px;
    background-color: #FCFCFC;
  }

  .sec-fifth ul {
    padding-left: -0.13vw;
  }

  .sec-fifth ul li {
    float: left;
    width: 41.536vw;
    margin-right: 6.38vw;
    margin-bottom: 6.51vw;
    text-align: center;
  }

  .sec-fifth ul li p {
    margin-top: 2.995vw;
    margin-bottom: 5.469vw;
    padding-left: 0.13vw;
    font-size: 2.344vw;

  }

  .sec-fifth ul li:nth-child(3n) {
    margin-top: 0vw;
    margin-right: 6.38vw;
    margin-left: 0vw;
    padding-left: 1.302vw;
  }

  .sec-fifth ul li:nth-child(3n) p {
    margin-bottom: 9.115vw;
  }

  .sec-fifth ul li:nth-child(2n) p {
    margin-bottom: 5.599vw;

  }

  .sec-fifth ul li:nth-child(3n) h3::before {
    top: -27px;
    right: -0.651vw;
  }

  .sec-fifth ul li:nth-child(2n) {
    margin-right: 0vw;
  }

  .sec-fifth .cmn-txt {
    margin-bottom: 3.906vw;
    text-align: center;
  }

  .sec-fifth ul li h3 {
    position: relative;
    font-size: 2.604vw;
    font-weight: 700;
  }

  .sec-fifth ul li h4 {
    line-height: 1.6;
    font-weight: 400;
  }

  /*End Fifth Link*/

  /*Start Feedback*/

  .sec-feedback {
    padding-top: 13.672vw;
    padding-bottom: 3.906vw;
  }

  .sec-feedback iframe {
    width: 44.792vw;
    height: 63.802vw;
  }

  .sec-feedback .google-map {
    position: relative;
    float: left;
    margin-right: 2.474vw;
  }

  .google-map iframe {
    border-radius: 1.042vw;
  }

  .sec-feedback .google-map .address-gp {
    top: 51%;
    width: 37.109vw;
    margin-right: 0vw;
    margin-left: 2.734vw;
    padding-top: 1.693vw;
    padding-bottom: 0vw;
    padding-left: 2.604vw;
  }

  .address p br {
    display: none;
  }

  .sec-feedback .google-map .add-block .pp {
    line-height: 0vw;
    margin-top: -1.302vw;
  }

  .sec-feedback .add-block {
    float: none;
    width: 29.297vw;
    line-height: 1.4;
    margin-right: 0vw;
    margin-left: 0vw;
  }

  .add {
    margin-bottom: 0vw;
  }

  .sec-feedback .add-block2 {
    line-height: 1.2;
    margin-top: 3.646vw;
    margin-right: 7.813vw;
    padding-bottom: 0vw;
    padding-left: 0vw;
  }

  .add-block2 h4 {
    font-size: 1.563vw;
  }

  .address {
    float: left;
    width: 42.188vw;
    margin-right: 0vw;
    padding-top: 1.563vw;
  }

  .address .cmn-txt {
    line-height: 1.7;
    margin-left: 0vw;
    font-size: 4.688vw;
    font-weight: 500;
  }

  .sec-feedback .add-block2 .phone {
    margin-bottom: 1.302vw;
  }

  .sec-feedback input {
    width: 39.063vw;
    margin-bottom: 3.906vw;
    padding-top: 1.302vw;
    padding-bottom: 1.302vw;
    padding-left: 2.474vw;
    border: #FFFFFF;
    background-color: #F3F3F3;
    font-size: 2.083vw;
    font-weight: 400;
    border-radius: 1.042vw;
  }

  .sec-feedback input:nth-child(3n) {
    margin-bottom: 3.255vw;
  }

  .sec-feedback .address .cmn-btn {
    margin-top: 0vw;
    padding-top: 1.302vw;
    padding-left: 5.208vw;
  }

  .feedback {
    padding-bottom: 8.203vw;
  }

  /*End Feedback*/

  /*Start Footer*/
  .footer {
    padding: 3.115vw 0;
  }

  .footer .logo-blk {
    width: 30.339vw;
  }

  .footer .logo-blk p {
    line-height: 1.5;
    padding-top: 3.906vw;
    font-size: 1.563vw;
  }

  .footer .footer-nav-blk {
    width: 44.9vw;
    margin: 0.911vw 0;
  }

  .footer .footer-nav {
    width: 15vw;
    margin-right: 9.806vw;
    margin-bottom: 3vw;
  }

  .footer .footer-nav:nth-child(2n) {
    margin-right: 0;
  }

  .footer .footer-nav .footer-ttl {
    padding-bottom: 1.563vw;
    font-size: 2.604vw;
  }

  .footer .footer-nav li {
    margin-bottom: 2.344vw;
  }
}


@media screen and (max-width:767.9px) {

  body {
    font-size: 2.813vw;
    max-width: 119.984vw;
  }

  .l-container {
    padding-right: 4.688vw;
    padding-left: 4.688vw;
    max-width: 90.625vw;
  }

  .l-inner {
    padding: 0 4.688vw;
    max-width: 90.625vw;
  }


  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .l-inner {
    margin: 0 auto;
    padding-right: 4.688vw;
    padding-left: 4.688vw;
    max-width: 90.625vw;
  }

  .cmn-btn {
    width: 7.031vw;
    padding-top: 0.937vw;
    padding-right: 7.031vw;
    padding-bottom: 1.562vw;
    padding-left: 4.219vw;
    text-align: center;
    border-radius: 1.25vw;
  }

  .main-visiual header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  /*Start Main Visiual*/

  .main-visiual {
    padding-top: 5.626vw;
    padding-bottom: 14.063vw;
  }


  .main-visiual header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .nav-item {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .nav-item ul li {
    float: none;
    width: 100%;
    margin: 0 0 1vw 0;
    padding-top: 2.604vw;
    font-size: 2.188vw;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.091vw;
  }

  .nav-gp {
    float: none;
  }

  .main-visiual .header .cmn-btn {
    float: none;
    width: 120px;
    margin: 0 auto;
    margin-top: 13.002px;
    font-size: 14.001px;
    border-radius: 0.521vw;
  }

  .nav-gp {
    display: block;
  }

  header .nav-gp {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    padding-top: 10.417vw;
    padding-bottom: 4.818vw;
    background-color: #FFFFFF;
    font-weight: 700;
    text-align: center;
  }

  header nav ul li {
    width: 100%;

  }

  header nav ul li a {
    padding-left: 2.604vw;
  }

  header .btn-gnavi {
    position: absolute;
    top: 0vw;
    right: 5.5vw;
    z-index: 3;
    width: 5.208vw;
    height: 3.906vw;
    margin-right: 5.208vw;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    border-color: 0.391vw #141414;
  }

  header .btn-gnavi span {
    position: absolute;
    width: 5.208vw;
    height: 0.391vw;
    background: #666;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    border-radius: 0.391vw;

  }

  header .btn-gnavi span:nth-child(1) {
    top: 0.26vw;
  }

  header .btn-gnavi span:nth-child(2) {
    top: 2.083vw;
  }

  header .btn-gnavi span:nth-child(3) {
    top: 4.167vw;
  }

  .btn-gnavi.hb-open span:nth-of-type(1) {
    left: 0vw;
    transform: translateY(1.953vw) rotate(-45deg);
  }

  .btn-gnavi.hb-open span:nth-of-type(2) {
    opacity: 0;
  }

  .btn-gnavi.hb-open span:nth-of-type(3) {
    left: 0vw;
    transform: translateY(-1.953vw) rotate(45deg);
  }

  header .btn-gnavi.hb-open {
    top: 0.98vw;
    right: 4.063vw;
    width: 3.906vw;
    height: 4.297vw;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }


  /*Start Banner*/
  .mv-block {
    width: 90.625vw;
    padding-top: 22.969vw;
    padding-left: 0vw;
  }

  .mv-block .l-inner {
    padding-left: 0vw;
  }

  .mv-block .l-inner h2 {
    text-align: center;
  }

  .mv-block h3 {
    line-height: 1.3;
    margin-top: 2.5vw;
    margin-bottom: 0.4vw;
    margin-left: 0vw;
    padding-left: 0.781vw;
    font-size: 7.031vw;
  }

  .mv-block img {
    max-width: 9.063vw;
  }

  .mv-block .l-inner p {
    margin-bottom: 0vw;
    padding: 2.813vw 0 2.969vw;
    font-size: 2.813vw;
    text-align: left;
  }

  .mv-block a.cmn-btn {
    width: 8.281vw;
    margin-top: 0vw;
    margin-left: 34.375vw;
    padding-top: 1.563vw;
    padding-right: 6.25vw;
    padding-bottom: 1.562vw;
    padding-left: 6.25vw;
    font-size: 2.813vw;
    font-weight: 700;
    text-align: center;
  }

  /*End Banner*/

  /*End Main Visiual*/

  /*Start Second link*/
  .sec-second {
    padding-top: 6.719vw;
    padding-bottom: 9.375vw;
  }

  .sec-second .text-block {
    float: none;
    width: 90.625vw;
  }

  .sec-second .text-block .cmn-txt {
    padding-bottom: 3.3vw;
  }

  .sec-second .text-block p {
    line-height: 2;
    margin-bottom: 2.344vw;
    font-size: 3.906vw;
    text-align: left;
  }

  .sec-second .text-block a {
    position: relative;
    padding-right: 0.781vw;
    color: #FF8364;
    font-weight: 700;
  }

  .sec-second .text-block a::after {
    position: absolute;
    left: 15.469vw;
  }

  .sec-second .img-block {
    float: none;
    margin-top: 8.438vw;
    margin-left: 1.875vw;
  }

  .sec-second .img-block img {
    width: 87.187vw;
    border-radius: 4.531vw 4.531vw 4.531vw 4.531vw;
  }


  /*End Second link*/

  /*Start Third Link*/
  .sec-third {
    padding-top: 10.156vw;
    padding-bottom: 5.156vw;
    background-color: #FFFFFF;
  }

  .sec-third .l-inner .cmn-txt {
    margin-top: 3.7vw;
  }

  .sec-third .inner .sub-title {
    margin-top: 5.9vw;
  }

  .inner {
    margin: 0 auto;
    max-width: 90.625vw;
  }

  .sec-third .sec-list {
    padding-top: 9vw;
  }

  .sec-third .sec-list li {
    float: none;
    width: 78.125vw;
    line-height: 1;
    margin-right: 0vw;
    margin-bottom: 7.188vw;
    padding-left: 10vw;
    font-size: 2.813vw;
    font-weight: 700;
  }

  .sec-third .sec-list li::before {
    top: -1.562vw;
  }

  .sec-third li:nth-child(2n) {
    margin-left: 0vw;
  }

  /*End Third Link*/

  /*Start Fourth Link*/

  .sec-fourth {
    padding-top: 10.938vw;
    padding-bottom: 9.375vw;
  }

  .sec-fourth .cmn-txt {
    margin-bottom: 5.468vw;
    text-align: center;
  }

  .sec-fourth ul {
    padding-left: 1.875vw;

  }

  .sec-fourth .text {
    padding-top: 4.687vw;
    padding-bottom: 4.843vw;
  }

  .sec-fourth ul li .text h3 {
    line-height: 1.3;
    font-weight: 700;
  }

  .sec-fourth ul li .text span {
    line-height: 1.1;
    font-size: 2.188vw;
  }

  .sec-fourth ul li img {
    width: 100%;
    object-fit: cover;
  }

  .sec-fourth ul li {
    float: left;
    width: 39.844vw;
    margin-right: 6.563vw;
    margin-bottom: 6.25vw;
    background-color: #F3F3F3;
    text-align: center;
    border-radius: 1.25vw;
  }

  .sec-fourth ul li:nth-child(2n) {
    margin-right: 0vw;
  }

  /*End Fourth Link*/

  /*Start Fifth Link*/

  .sec-fifth {
    padding-top: 4vw;
    padding-bottom: 9.375vw;
    background-color: #FCFCFC;
  }

  .sec-fifth ul {
    padding-left: -0.156vw;
  }

  .sec-fifth ul li {

    float: none;
    width: 72.813vw;
    margin-right: 0vw;
    margin-bottom: 9vw;
    margin-left: 9.375vw;
    text-align: center;
  }

  .sec-fifth ul li p {
    margin-top: 3.594vw;
    margin-bottom: 9.063vw;
    padding-left: 0.156vw;
    font-size: 2.813vw;
  }


  .sec-fifth ul li:nth-child(3n) {
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 9.375vw;
    padding-left: 0vw;
  }

  .sec-fifth ul li:nth-child(3n) p {
    margin-bottom: 8.281vw;
  }

  .sec-fifth ul li:nth-child(2n) p {
    margin-bottom: 8.813vw;
    text-align: center;
  }

  .sec-fifth ul li:nth-child(3n) h3::before {
    right: 0vw;
  }

  .sec-fifth ul li:nth-child(2n) {
    margin-right: 0vw;
    margin-bottom: 7.99vw;
  }

  .sec-fifth .cmn-txt {
    margin-bottom: 4.687vw;
    text-align: center;
  }

  .sec-fifth ul li h3 {
    position: relative;
    font-size: 3.125vw;
    font-weight: 700;
  }

  .sec-fifth ul li h4 {
    line-height: 1.6;
    font-weight: 400;
  }

  /*End Fifth Link*/

  /*Start Feedback*/

  .sec-feedback {
    padding-top: 9.375vw;
    padding-bottom: 0vw;
  }

  .sec-feedback iframe {
    width: 89.063vw;
    height: 53.594vw;
  }

  .sec-feedback .google-map {
    position: relative;
    float: none;
    margin-right: 2.969vw;
  }

  .google-map iframe {
    height: 53.594vw;
    border-radius: 1.25vw;
  }

  .sec-feedback .google-map .address-gp {
    top: 51%;
    width: 79.875vw;
    margin-right: 3.281vwvw;
    margin-left: 3.281vw;
    padding-top: 2.032vw;
    padding-bottom: 0vw;
    padding-left: 4.688vw;
  }

  .address p br {
    display: none;
  }

  .sec-feedback .google-map .add-block .pp {
    font-size: 2.5vw;
  }

  .sec-feedback .add-block {
    float: left;
    width: 35.156vw;
    line-height: 1.4;
    margin-right: 1.563vw;
    margin-left: 0vw;
  }

  .add {
    margin-bottom: 0vw;
  }

  .sec-feedback .add-block2 {
    width: 33.594vw;
    line-height: 1.2;
    margin-top: 3.125vw;
    margin-right: 5.781vw;
    padding-bottom: 0vw;
    padding-left: 0vw;
  }

  .add-block2 h4 {
    font-size: 1.876vw;
  }

  .address {
    float: none;
    width: 86.25vw;
    margin-right: 0vw;
    padding-top: 2.5vw;
  }

  .address .cmn-txt {
    line-height: 1.7;
    margin-left: 0vw;
    font-size: 5.626vw;
    font-weight: 500;
  }

  .sec-feedback .add-block2 .phone {
    margin-bottom: 1.562vw;
  }

  .sec-feedback input {
    width: 46.876vw;
    margin-bottom: 4.687vw;
    padding-top: 1.562vw;
    padding-bottom: 1.562vw;
    padding-left: 2.969vw;
    border: #FFFFFF;
    background-color: #F3F3F3;
    font-size: 2.5vw;
    font-weight: 400;
    border-radius: 1.25vw;
  }

  .sec-feedback input:nth-child(3n) {
    margin-bottom: 2.5vw;
  }

  .sec-feedback .address .cmn-btn {
    margin-top: 0vw;
    padding-top: 1.562vw;
    padding-bottom: 1.562vw;
    padding-left: 6.25vw;
  }

  .feedback {
    padding-bottom: 9.9vw;

  }

  /*End Feedback*/

  /*Start Footer*/
  .footer {
    padding: 1.844vw 0;
  }

  .footer .logo-blk {
    width: 36.406vw;
  }

  .footer .logo-blk img {
    max-width: 32.656vw;
  }

  .footer .logo-blk p {
    padding-top: 4.688vw;
    font-size: 1.875vw;
  }

  .footer .footer-nav-blk {
    width: 47.656vw;
    margin: 1.094vw 0;
  }

  .footer .footer-nav {
    width: 20.313vw;
    margin-right: 5.625vw;
    margin-bottom: 3.438vw;
  }

  .footer .footer-nav:nth-child(2n) {
    margin-right: 0;
  }

  .footer .footer-nav .footer-ttl {
    padding-bottom: 1.875vw;
    font-size: 3.125vw;
  }

  .footer .footer-nav li {
    margin-bottom: 2.813vw;
    font-size: 2.5vw;
  }
}